{% extends 'base.html.twig' %}

{% block title %}
    Plant A Tree | My account
{% endblock %}

{% block body %}
    {{ knp_menu_render('accountMenu') }}

    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {% for flashSuccess in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
    {% endfor %}

{#  MESSAGES D'ERREURS  #}

    {% block account %}
    {% endblock %}
{% endblock %}
{% block javascripts %}
    {{ parent() }}
{#    {{ encore_entry_script_tags('account') }}#}
{% endblock %}



