{% extends 'my_account/base.html.twig' %}

{% block body %}

    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {% for flashSuccess in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
    {% endfor %}

    {% block account %}
        <div class="logContainer">
            <h1 class="h1-padding">Update your data.</h1>
            {{ form_start(userUpdateForm) }}
            {{ form_row(userUpdateForm.first_name) }}
            {{ form_row(userUpdateForm.last_name) }}
            {{ form_row(userUpdateForm.birth_date) }}
            <button type="submit" class="btn btn-success">Update</button>
            {{ form_end(userUpdateForm) }}
        </div>
    {% endblock %}
{% endblock %}

