{% extends 'admin/base.html.twig' %}

{% block title %}Plant A Tree | Admin Dashboard{% endblock %}

{% block admin %}
    {% for flashError in app.flashes('error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}
    {% for flashSuccess in app.flashes('success') %}
        <div class="alert alert-success" role="alert">{{ flashSuccess }}</div>
    {% endfor %}

    <div class="container" style="width: 60%">
        <h1 class="h1-padding">List of users</h1>
        <div class="card">
            <ul class="list-group list-group-flush">
                {% for user in userList %}
                    <li class="list-group-item">
                        {{ user.id }} - {{ user.firstname }} - {{ user.lastname }} - {{ user.email }} -
                        {% for role in user.roles %}
                            <span>{{ role }} </span>
                        {% endfor %}
                        <a href="{{ path('app_admin_delete_user', {'id': user.id }) }}" class="btn btn-danger">X</a>


                        {% set form = userRoleChangeFormArray[loop.index-1] %}

                        {{ form_start(form) }}
                        {{ form_row(form.roles) }}
                        <button type="submit" class="btn btn-success">Update</button>
                        {{ form_end(form) }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}
