{% extends 'tree/base.html.twig' %}

{% block title %}
    Plant A Tree | My trees
{% endblock %}

{% block tree %}
    <div class="container" style="width: 30rem;">
        <h3>List of trees.</h3>
        <ul>
            {% for tree in treeList %}
                <li>{{ tree.id }} - {{ tree.longitude }} - {{ tree.latitude }} - {{ tree.date | date("d/m/Y") }}</li>
                <a href="{{ path('app_trees_delete_tree', {'id': tree.id }) }}" class="btn btn-danger">X</a>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
