{% extends 'tree/base.html.twig' %}

{% block title %}
    Plant A Tree | My trees
{% endblock %}

{% block tree %}
{#    <h1>#}
{#        Hello {{ username }}#}
{#    </h1>#}

    <h3>List of trees.</h3>
    <ul>
        {% for tree in treeList %}
            <li>{{ tree.id }} - {{ tree.longitude }} - {{ tree.latitude }} - {{ tree.date | date("d/m/Y")}}</li>
        {% endfor %}
    </ul>
{% endblock %}
